.miniMapsContainer {
  width: 300px !important;
  position: absolute;
  z-index: 950;
  right: 0px;
  bottom: 0px;
  padding-right: 22px;
  margin-bottom: 15px;
}

.reducedMap {
  z-index: 960;
}

:host /deep/  {
  .slimScrollDiv {
    position: inherit !important;
  } 

  .slimScrollBar {
    display: block !important;
    height: 62.5px !important;
  }

  .slimScrollBar, .slimScrollRail {
    z-index: 970 !important;
    width: 13px !important;
    right: 0px !important;
    border-radius: 0px !important;
    margin-right: 9px !important;
    margin-top: calc(71.25vh - 174px) !important; // TODO : IMPROVE
    opacity: 0.6 !important;
    cursor: pointer;
  }

  .card-map {
    height: calc(100vh - 177px);
  }
}

      

